* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  color: white;
  font-family: 'Montserrat';
}

/* ///////////////////// NAVBAR //////////////////////// */
.navbar-style {
  box-shadow: 0 4px 2px -2px #333;
}

.nav-logo {
  width: 10%;
}

.nav-custom img {
  width: 64px;
}

.icon-bar {
  background: white;
}

/* ///////////////////// NAVBAR //////////////////////// */

/* ///////////////////// MAIN AREA //////////////////////// */

.slogan h1 {
  font-weight: 200;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.background-img img {
  width: 80%;
}

.button {
  margin-top: 2rem;
  margin-left: 2rem;
  background-color: black;
}

.blurb {
  font-family: 'League Script', cursive;
  font-weight: 100;
  margin-top: 2rem;
  margin-left: 2rem;
}

/* ///////////////////// CONTACT FORM //////////////////////// */

.custom-row {
  padding: 2rem;
}

.custom-button {
  margin: 1rem;
}

/* ///////////////////// FOOTER //////////////////////// */

.footer-container {
  padding: 0.5rem;
  border-top: 2px solid #333;
  box-shadow: 2 4px 2px -2px #333;
}

.footer-icon {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.footer-icon img {
  max-width: 4rem;
}

.footer-icon a {
  text-decoration: none;
  color: white;
}
